<section id="about">
    <div id="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mt-5" id="aboutTask">
                    <h1>About The Task</h1>
                    <p class="w-50 text-center p-2 m-auto">Task Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Pellentesque elementum libero enim, eget gravida nunc laoreet et. Pellentesque elementum libero enim.</p>
                </div>
            </div>

            <div id="introduction" class="text-center mt-5">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Introduction</h2>
                    </div>
                </div>
                <div id="introductionCont" class="my-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>This task is a small project for you to demonstrate your ability to understand the requirements and implement a solution using Javascript in a fixed timeframe.</p>
                        </div>
                        <div class="col-lg-6">
                            <p>For this task, we’re asking you to build a list of some records with the ability to view, edit and delete individual records.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="projectGoals" class="text-center mt-5">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Project Goals</h2>
                    </div>
                </div>
                <div id="introductionCont" class="my-3">
                    <div class="row">
                        <div class="col-lg-3">
                            <p>Render a list of records (Cats).</p>
                        </div>
                        <div class="col-lg-3">
                            <p>a list of records (Cats).  Upon clicking on a cat, a detailed view should appear with more details about the selected record.</p>
                        </div>
                        <div class="col-lg-3">
                            <p>Clicking on “edit” would open an overlay to edit the selected cat attributes.</p>
                        </div>
                        <div class="col-lg-3">
                            <p>Clicking on “delete” remove the selected cat from the list.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="exEvaluation" class="text-center mt-5">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Exercise Evaluation Criteria</h2>
                        <p>In addition to reviewing your code, your output will be evaluated using the following criteria:</p>
                    </div>
                </div>
                <div id="introductionCont" class="my-3">
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Properly understanding the project requirements and implementing correct solution.</p>
                        </div>
                        <div class="col-lg-4">
                            <p>Using OOP & software engineering concepts to implement an object oriented solution.</p>
                        </div>
                        <div class="col-lg-4">
                            <p>Placing different pieces of functionality in the correct layers of the system.</p>
                        </div>
                        <div class="col-lg-4">
                            <p>Solving problems and understanding code without relying too much on others.</p>
                        </div>
                        <div class="col-lg-4">
                            <p>Code quality, for example code readability and simplicity.</p>
                        </div>
                        <div class="col-lg-4">
                            <p>Ability to finish usable features on time.</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <p>Choosing a sufficient amount of inline or external comments for elaboration.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>