<!-- Section Of [ How You Can Contact with Us ] -->
<section id="contact">
    <div id="overlay">
        <section class="message text-center">
            <div class="col-12">
                <h2 class="pt-5">Get In Touch</h2>
                <div class="animation"></div>
                <p class="mb-5 mt-3">Mauris at tempus mi, ut iaculis dui. Integer laoreet mattis justo nec pretium. Ut nibh elit, fermentum vel hendrerit vel, dictum nec velit. Morbi volutpat suscipit.</p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <h3>Get answers and advices from professional consultants.</h3>
                        <h4 class="mt-5"> <i class="fas fa-map-marker"></i> Address</h4>
                        <p class="mb-5">1650 Lombard Street, San Francisco, CA 94123</p>
                        <h4><i class="fas fa-phone"></i> Phone</h4>
                        <p class="mb-5">01229124808</p>
                        <h4><i class="far fa-envelope"></i> Say Hello</h4>
                        <p>jouvin.adel3@gmail.com</p>

                    </div>

                    <div class="col-6">
                        <div class="userName">
                            <input id="userName" type="text" placeholder="Name" required name="fname" class="p-2 w-100">
                            <div class="alerts alert alert-danger  mt-2">Wrong User Name <span> "write First Letter Capital Please [A-z]"</span></div>
                        </div>

                        <div class="userMail">
                            <input id="userMail" type="email" placeholder="Email" required name="euser" class="p-2 my-4 w-100">
                            <div class="alerts alert alert-danger">Wrong User Mail <span>"write Example This (example@mail)"</span></div>
                        </div>

                        <div class="userPhone">
                            <input id="userPhone" placeholder="Phone" required name="phoneuser" class="p-2 mb-4 w-100">
                            <div class="alerts alert alert-danger">Wrong User Phone</div>
                        </div>

                        <div class="textarea">
                            <textarea id="textArea" placeholder="Message" maxlength="1000" class="p-5 w-100">
        </textarea>
                            <div id="textContent" class="float-left"><span id="result">100</span> Characyer Reamining</div>




                            <div class="clearfix"></div>
                            <button class="btn btn-danger my-3 float-left"><i class="far fa-comment"></i> Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</section>
<!-- The End Of Section [ How You Can Contact with Us ] -->